body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f6f4;
  margin-top: 10%;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 5%;
  margin-top: 5%;
}

p {
  color: #222;
  font-size: 16px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  background-color: #f9f6f4;
  padding: 2%;
  border-radius: 25px 25px 25px 0;
}

.p-taxi,
.p-vtc,
.p-lumiere {
  line-height: 1.8;
}

h2 {
  color: #c8b29b;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 5%;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 30px;
  font-weight: 600;
}

h3 {
  color: #222;
  text-align: center;
  font-weight: 350;
  font-size: 18px;
  margin-top: 3%;
}

h5 {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 10%;
  margin-bottom: 9%;
  text-align: center;
  font-size: 25px;
  font-weight: 350;
  color: #222;
}

.hr {
  margin: auto;
  margin-top: 5%;
  width: 90%;
}

.navbar {
  background-color: #c8b29b;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 11%;
}

.logo {
  display: flex;
  align-items: center;
  max-height: 150px;
  min-height: 150px;
  margin-left: 10%;
}

.icon {
  fill: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 3%;
}

.nav-item, .drop-item {
  list-style: none;
}

.navbar input, .nav-menu, .dropdown {
  display: none;
}

[id^=btn]:checked+ul {
  display: block;
}

.nav-menu {
  background-color: #c8b29b;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  top: 86%;
}

.nav-item a, .drop-item a, .show {
  color: #000000;
  text-decoration: none;
  line-height: 70px;
  font-size: 1.2rem;
  line-height: 3;
  margin-left: -2%;
}

.drop-item a {
  margin-left: -4%;
  font-size: 1.1rem;
  line-height: 2.5;
}

.nav-menu a:hover,
.show:hover {
  color: #ffffff;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background: linear-gradient(to bottom, #c8b29b, #414141);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.image-container {
  margin-top: -20px;
  margin-bottom: -40px;
  width: 25%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  font-size: 19px;
  margin-left: 2%;
}

.form-container input,
.form-container select {
  width: 100%;
  height: 35px;
  padding: 8px;
  padding-right: 400px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #333;
  background-color: #f2f2f2;
  color: #000000;
}

.form-container button {
  display: flex;
  justify-content: center;
  background-color: #45a049;
  color: #fff;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  margin-top: 3%;
  margin-bottom: 8%;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #000000;
}

#passengers {
  font-size: 15px;
}

.image-index {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url('paris.webp');
  background-size: cover;
  background-position: center bottom;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-prive {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('img-services.webp');
  background-size: cover;
  background-position: center 35%;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-taxi {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('taxi-paris.webp');
  background-size: cover;
  background-position: center 35%;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-reservation {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('reservation.webp');
  background-size: cover;
  background-position: center 35%;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-abonnement {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('abonnement.jpg');
  background-size: cover;
  background-position: center 35%;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camry-index img {
  width: auto;
  height: 450px;
  margin-bottom: 5%;
}

.camry-index {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

.ville-lumiere {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  gap: 4%;
}

.ville-lumiere img {
  width: 20%;
  height: auto;
}

.img-presta {
  margin-bottom: 10%;
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nos-vehicules-pc {
  display: flex;
  justify-content: center;
}

.nos-vehicules-pc img {
  width: 100%;
  margin-top: -10%;
  margin-bottom: -15%;
}

.icon-atouts {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.icon-item {
  text-align: center;
  margin-top: 1%;
}

ion-icon {
  font-size: 70px;
}

.bouton-devis3 {
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  font-size: 22px;
  padding: 1%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  margin-bottom: 10%;
  text-decoration: none;
  border-radius: 25px;
}

.bouton-devis3:hover {
  background-color: #45a049;
}

.p-taxi p,
.p-vtc p,
.p-lumiere p,
.ville-lumiere-mob img {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.p-vtc p.slide-up,
.p-taxi p.slide-up,
.p-lumiere p.slide-up,
.ville-lumiere-mob img.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.contact {
  margin-top: 10%;
  padding: 2%;
  background-color: #c8b29b;
}

.contact h4 {
  margin-bottom: 3%;
  margin-top: 7%;
  color: #222;
  text-align: center;
}

.contact p,
.liens a {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  background-color: #c8b29b;
}

.liens-wp a, .liens-wp h6  {
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0;
}

.ville-lumiere-mob,
.presta1-mob,
.avantages-taxi-mob,
.contact-icon, .nos-vehicules {
  display: none;
}


/*  Small device */
@media screen and (max-width:767.98px) {

  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  h2 {
    color: #c8b29b;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 10%;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 25px;
    font-weight: 600;
  }

  h3 {
    color: #222;
    text-align: center;
    font-weight: 350;
    font-size: 18px;
    margin-top: 3%;
  }

  h5 {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10%;
    margin-bottom: 9%;
    text-align: center;
    font-size: 25px;
    font-weight: 350;
    color: #222;
  }

  p {
    color: #222;
    font-size: 16px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    background-color: #f9f6f4;
    padding: 2%;
    border-radius: 25px 25px 25px 0;
    line-height: 1.5;
    word-spacing: 4px;
  }

  .p-taxi,
  .p-vtc,
  .p-lumiere {
    line-height: 1.5;
  }

  body {
    margin-top: 18%;
  }

  .navbar {
    background-color: #c8b29b;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 11%;
  }

  .logo {
    display: flex;
    align-items: center;
    max-height: 120px;
    min-height: 120px;
    margin-left: 0;
  }

  .navbar input,
  .nav-menu,
  .dropdown {
    display: none;
  }

  [id^=btn]:checked+ul {
    display: block;
  }

  .nav-menu {
    background-color: #c8b29b;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    top: 78%;
  }

  .nav-item,
  .drop-item {
    list-style: none;
  }

  .nav-item a,
  .drop-item a,
  .show {
    color: #ffffff;
    text-decoration: none;
    line-height: 70px;
    font-size: 1.2rem;
    line-height: 3;
    margin-left: -6%;
  }

  .drop-item a {
    margin-left: -15%;
    font-size: 1rem;
    line-height: 2.5;
  }

  .nav-menu a:hover,
  .show:hover {
    color: #000000;
  }

  .image-index {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center bottom;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-prive {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center 35%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-taxi {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center 35%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-reservation {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center 35%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-abonnement {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url('abonnement.jpg');
    background-size: cover;
    background-position: center 35%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .camry-index img {
    width: 100%;
    height: 220px;
  }

  .camry-index {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
  }

  .ville-lumiere-mob {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .ville-lumiere-mob img {
    width: 60%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .presta1-mob {
    display: block;
  }

  .presta1-mob img {
    margin-bottom: 10%;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .avantages-taxi-mob {
    display: block;
  }

  .nos-vehicules {
    display: flex;
    justify-content: center;
  }

  .nos-vehicules img {
    width: 100%;
    margin-top: -25%;
    margin-bottom: -13%;
  }

  .contact {
    padding-top: 4%;
    margin-top: 15%;
  }

  .contact h4 {
    margin-bottom: 5%;
  }

  .contact p {
    margin: 0;
    margin-bottom: 3%;
    color: #ffffff;
  }

  .contenu p {
    text-align: left;
    line-height: 1.7;
  }

  .liens-wp a,
  .liens-wp h6 {
    font-size: 13px;
    text-align: center;
  }

  .contact-icon {
    display: flex;
    position: fixed;
    right: 5%;
    bottom: 5%;
  }

  .contact-icon img {
    display: block;
    width: 40px;
    border-radius: 20px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background: linear-gradient(to bottom, #c8b29b, #414141);
    padding: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
  }

  .image-container {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -45px;
    margin-bottom: -25px;
    border-radius: 20px;
    width: 60%;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .form-container label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
  }

  .form-container input,
  .form-container select {
    width: 100%;
    padding: 8px;
    padding-right: 120px;
    margin-bottom: 16px;
    font-size: 17px;
    box-sizing: border-box;
  }

  .form-container button {
    display: flex;
    justify-content: center;
    background-color: #45a049;
    color: #fff;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-container button:hover {
    background-color: #000000;
  }

  #passengers {
    font-size: 15px;
  }
  
  .icon-item {
    text-align: center;
    margin-top: 1%;
  }

  .icon-item h3 {
    font-size: 13px;
  }
  
  ion-icon {
    font-size: 45px;
  }

  .bouton-devis3 {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 7%;
    margin-bottom: 10%;
    text-decoration: none;
  }

  .ville-lumiere,
  .presta1,
  .presta2,
  .avantages-taxi, .nos-vehicules-pc {
    display: none;
  }

}